<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Beranda</title>
</head>
<body>

	<h1>HEADER 1</h1>
	<h2>HEADER 2</h2>

	Lorem Ipsum is simply dummy text of the printing and typesetting
	industry. Lorem Ipsum has been the industry's standard dummy text ever
	since the 1500s, when an unknown printer took a galley of type and
	scrambled it to make a type specimen book. It has survived not only
	five centuries, but also the leap into electronic typesetting,
	remaining essentially unchanged.
	<p>
		Lorem Ipsum has been the industry's standard dummy text ever since the
		1500s, <span style="font-weight: bold; color: #0A86D9;">when an
			unknown printer took a galley of type and scrambled it to make a type
			specimen book</span> . <br> It has survived not only five centuries,
		but also the leap into electronic typesetting, remaining essentially
		unchanged.
	</p>

	<hr>

	Alamat
	<select>
		<optgroup label="Kota">
			<option><a href="/view">Magelang</a></option>
			<option>Madiun</option>
			<option>Malang</option>
		</optgroup>
		<optgroup label="Desa">
			<option>Durenan</option>
			<option>Kembangan</option>
		</optgroup>
	</select>
	<hr>

	<h2 style="color: red; background-color: yellow;">WELCOME</h2>

	test div
	<div style="font-weight: bold; color: #0A86D9;">
		Username <input value="testtttt" /> Password <input type="password" />
	</div>

	<a href="/view">Next</a>

	<hr>

	<table border="1">
		<tr>
			<td>Kolom 1 Baris 1</td>
			<td>Kolom 2 Baris 1</td>
		</tr>
		<tr>
			<td>Kolom 1 Baris 2</td>
			<td>Kolom 2 Baris 2</td>
		</tr>
	</table>
	<br>
	<table>
		<tr>
			<td>Username</td>
			<td><input type="text" /></td>
		</tr>
		<tr>
			<td>Password</td>
			<td><input type="password" /></td>
		</tr>
	</table>
	<br> statistic table
	<table border="1">
		<thead>
			<tr>
				<th>No</th>
				<th>Name</th>
				<th>Age</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td rowspan="2">1</td>
				<td>Hendra</td>
				<td>22</td>
			</tr>
			<tr>
				<td>Hendro</td>
				<td>23</td>
			</tr>

		</tbody>
		<tfoot>
			<tr>
				<td colspan="2">Nilai</td>
				<td>90</td>
			</tr>
		</tfoot>
	</table>

	<ul>
		<li>Dona</li>
		<li>Dona</li>
		<li>Dona</li>
		<li>Dona</li>
	</ul>

	<ol>
		<li>Dona</li>
		<li>Dona</li>
		<li>Dona</li>
		<li>Dona</li>
	</ol>

	<hr>

	<form action="/view" method="post">
		<table>
			<tr>
				<td>Username</td>
				<td><input type="text" name="user" /></td>
			</tr>
			<tr>
				<td>Password</td>
				<td><input type="password" name="pass" /></td>
			</tr>
			<tr>
				<td><input type="submit" value="kirim" /></td>
			</tr>
		</table>
	</form>

</body>
</html>